language: php

php:
  - 7.1
  - 7.2

env:
  - DRUPAL=^8.5
  - DRUPAL=8.5.x-dev
  - DRUPAL=8.6.x-dev

before_install:
  # items for phpcs
  - composer global require drupal/coder ^8.2@stable
  - export PATH="$PATH:$HOME/.composer/vendor/bin"
  - phpcs --config-set installed_paths ~/.composer/vendor/drupal/coder/coder_sniffer
  - phpcs -i
  # add composer's global bin directory to the path
  # see: https://github.com/drush-ops/drush#install---composer
  - export PATH="`composer global config bin-dir --absolute`:$PATH"
  # debug
  - composer global config bin-dir --absolute
  - phpcs --standard=Drupal .
install:
# Create the MySQL database and add a user for testing.
  - mysql -u root -e "CREATE DATABASE testing; CREATE USER 'testing'@'localhost' IDENTIFIED BY 'testing'; GRANT ALL ON testing.* TO 'testing'@'localhost';"
  - export SIMPLETEST_DB="mysql://testing:testing@localhost/testing"
  # first clone everything also into a subfolder, via a parent build folder
  - mkdir acm
  - mv `ls -A | grep -v "^acm$"` ./acm
  - composer clearcache
  - composer self-update
  - composer create-project drupal/drupal:${DRUPAL} drupal --no-interaction --no-install
  # Add packages required by acm.
  - cd drupal
  # see https://github.com/drupal-composer/drupal-project/issues/175
  - composer config --unset repositories.0
  - composer config repositories.drupal composer https://packages.drupal.org/8
  - mkdir -p modules/contrib
  - mv ../acm modules/contrib
  - composer require drush/drush commerceguys/intl:~0.7 drupal/address:~1.0 drupal/key_value_field:~1.0 drupal/field_group:^1.0@RC drupal/pcb:~1.0 acquia/http-hmac-php:~3.2.0 drupal/simple_oauth:'~3.8' drupal/inline_entity_form php-coveralls/php-coveralls
  - if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.2" ]]; then composer require phpunit/phpunit:^6; fi
  - cat composer.json
  - composer install
  # Install drupal.
  - ./vendor/bin/drush --verbose site-install --db-url=mysql://root:@127.0.0.1/drupal --yes
  # Enable the acm suite of modules.
  - ./vendor/bin/drush en -y acm acm_cart acm_checkout acm_customer acm_diagnostic acm_exception acm_payment acm_product acm_promotion acm_sku acm_sku_position
script:
  - mkdir -p $TRAVIS_BUILD_DIR/drupal/modules/contrib/acm/tests/logs
  # Run behat tests.
  - ./vendor/bin/phpunit -c core/phpunit.xml.dist modules/contrib/acm --debug -v --coverage-clover $TRAVIS_BUILD_DIR/drupal/modules/contrib/acm/tests/logs/clover.xml
after_success:
  - pwd
  - cd modules/contrib/acm
  - travis_retry $TRAVIS_BUILD_DIR/drupal/vendor/bin/php-coveralls -v