.customer-order,
.customer-order__item {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-bottom: 2rem;
}

.customer-order__order-id,
.customer-order__order-date,
.customer-order__order-total,
.customer-order__items-wrapper {
  flex: 1;
}

.customer-order__items-wrapper {
  padding-right: 5rem;
}

.customer-order__details-button-link {
  display: inline-block;
  padding: 1rem;
}

.customer-order__information-wrapper {
  width: 25%;
}

.customer-order__wrapper-label {
  margin-bottom: 1rem;
}
