<div class="layout-column layout-column--quarter">
    <div class="panel">
        <h3 class="panel__title tile--title">
            {{ title }}
        </h3>
        <div{{ attributes }}>
            {{ value }}
        </div>
    </div>
</div>