<div class="dashboard-group dashboard-tile-group">
    {% for tile in items['tile'] %}
        {{ tile }}
    {% endfor %}
</div>

<div class="dashboard-group dashboard-line-group">
    {% for line in items['line'] %}
        {{ line }}
    {% endfor %}
</div>

{% for key, group in items|without('tile', 'line') %}
    <div class="dashboard-group dashboard-{{ key }}-group">
    {% for item in group %}
        {{ item }}
    {% endfor %}
    </div>
{% endfor %}