/**
 * @file
 * Styling for Commerce toolbar icons.
 */

/**
 * Bar formatting
 * Commerce includes a non-drupal cart icon called "cart.svg" that you could use instead of "drupal-cart.svg"
 */
.toolbar-bar .toolbar-icon-acm-admin-commerce:before {
  background-image: url("../icons/bebebe/logo.png");
}

.toolbar-bar .toolbar-icon-acm-admin-commerce:active:before,
.toolbar-bar .toolbar-icon-acm-admin-commerce.active:before {
  background-image: url("../icons/000000/logo.png");
}

/* Tray formatting */
.toolbar .toolbar-tray .toolbar-icon.toolbar-icon-acm-admin-commerce:before {
  background-image: url("../icons/787878/logo.png");
}

.toolbar .toolbar-tray .toolbar-icon.toolbar-icon-acm-admin-commerce:active:before,
.toolbar .toolbar-tray .toolbar-icon.toolbar-icon-acm-admin-commerce.active:before {
  background-image: url("../icons/000000/logo.png");
}
