<div id="checkmo_pane" class="cardtype">
  <h4>{{ 'Chosen payment method:'|t }}</h4>
  <p class="payment_method">{{ payment_method_name }}</p>
  <p>{{ 'There are no options. Please continue to the summary page to review your order.'|t }}</p>
</div>
